<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 636 502" style="enable-background:new 0 0 636 502;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#AFAFAF;stroke-width:0.75;stroke-miterlimit:10;}
	.st1{fill:none;stroke:#AFAFAF;stroke-width:0.75;stroke-linecap:square;stroke-miterlimit:10;}
	.st2{fill:rgba(0,0,0,0);stroke:#42A1DA;stroke-linecap:square;stroke-miterlimit:10;}
	.st3{fill:#42A1DA;}
	.st4{fill:none;stroke:#42A1DA;stroke-width:2;stroke-linecap:square;stroke-miterlimit:10;}
	.st5{display:none;fill:#42A1DA;}
</style>
<g id="OG">
	<g id="Frame">
		<line class="st0" x1="145.8" y1="178.1" x2="319.2" y2="178.1"/>
		<line class="st1" x1="145.8" y1="178.1" x2="145.8" y2="312.1"/>
		<line class="st1" x1="145.8" y1="312.1" x2="606.2" y2="312.1"/>
		<line class="st1" x1="606.2" y1="312.1" x2="606.2" y2="178.1"/>
		<line class="st1" x1="341" y1="178.1" x2="606.2" y2="178.1"/>
		<line class="st1" x1="319.2" y1="178.1" x2="319.2" y2="132.5"/>
		<line class="st1" x1="320" y1="24.9" x2="370.3" y2="24.9"/>
		<line class="st1" x1="370.3" y1="52.8" x2="370.3" y2="24.9"/>
		<line class="st1" x1="385.6" y1="52.8" x2="370.3" y2="52.8"/>
		<line class="st1" x1="385.6" y1="33.8" x2="385.6" y2="51.8"/>
		<line class="st1" x1="435.3" y1="33.8" x2="385.6" y2="33.8"/>
		<line class="st1" x1="435.3" y1="178.1" x2="435.3" y2="33.8"/>
		<line class="st1" x1="582.8" y1="226.6" x2="582.8" y2="275.5"/>
		<line class="st1" x1="606.2" y1="271.7" x2="582.8" y2="271.7"/>
		<line class="st1" x1="582.8" y1="312.1" x2="582.8" y2="291.2"/>
		<line class="st1" x1="582.8" y1="178.1" x2="582.8" y2="211.5"/>
		<line class="st1" x1="595.1" y1="211.5" x2="582.8" y2="211.5"/>
		<line class="st1" x1="373.2" y1="133.8" x2="373.2" y2="178.1"/>
		<line class="st1" x1="340.5" y1="132.5" x2="340.5" y2="178.1"/>
		<line class="st1" x1="370.2" y1="113.3" x2="435.3" y2="113.3"/>
		<line class="st1" x1="319.2" y1="113.3" x2="319.2" y2="24.9"/>
		<line class="st1" x1="350.6" y1="113.3" x2="319.2" y2="113.3"/>
		<line class="st1" x1="169.6" y1="251.3" x2="169.6" y2="178.5"/>
		<line class="st1" x1="169.6" y1="211.7" x2="145.8" y2="211.7"/>
		<line class="st1" x1="169.6" y1="263.3" x2="145.8" y2="263.3"/>
		<rect x="184.1" y="220" class="st1" width="4.1" height="4.1"/>
		<rect x="268.4" y="220" class="st1" width="4.1" height="4.1"/>
		<rect x="226.2" y="263.2" class="st1" width="4.1" height="4.1"/>
		<rect x="310.5" y="263.2" class="st1" width="4.1" height="4.1"/>
		<rect x="353.1" y="220" class="st1" width="4.1" height="4.1"/>
		<rect x="437.2" y="220" class="st1" width="4.1" height="4.1"/>
		<rect x="395.2" y="263.2" class="st1" width="4.1" height="4.1"/>
		<rect x="480" y="263.2" class="st1" width="4.1" height="4.1"/>
		<rect x="522.3" y="220" class="st1" width="4.1" height="4.1"/>
		<rect x="564.2" y="263.2" class="st1" width="4.1" height="4.1"/>
		<rect x="184.1" y="263.2" class="st1" width="4.1" height="4.1"/>
		<rect x="226.2" y="220" class="st1" width="4.1" height="4.1"/>
		<rect x="268.4" y="263.2" class="st1" width="4.1" height="4.1"/>
		<rect x="310.5" y="220" class="st1" width="4.1" height="4.1"/>
		<rect x="353.1" y="263.2" class="st1" width="4.1" height="4.1"/>
		<rect x="395.2" y="220" class="st1" width="4.1" height="4.1"/>
		<rect x="437.2" y="263.2" class="st1" width="4.1" height="4.1"/>
		<rect x="480" y="220" class="st1" width="4.1" height="4.1"/>
		<rect x="522.3" y="263.2" class="st1" width="4.1" height="4.1"/>
		<rect x="564.2" y="220" class="st1" width="4.1" height="4.1"/>
	</g>
	<g id="Ebene_3">
		<circle class="st2" cx="566.3" cy="289.7" r="3.1"/>
		<circle class="st3" cx="566.3" cy="289.7" r="1.9"/>
		<line class="st4" x1="562.5" y1="289.7" x2="186.2" y2="289.7"/>
		<circle class="st3" cx="186.2" cy="289.7" r="1.9"/>
	</g>
	<g id="tec" [ngClass]="{'animate': this.poweredStateTec}">
		<line class="st4" x1="595" y1="251" x2="595" y2="198"/>
		<circle class="st3" cx="595" cy="255" r="2"/>
		<circle class="st3" cx="547" cy="196" r="2"/>
		<line class="st4" x1="595" y1="196" x2="547" y2="196"/>
		<circle class="st3" cx="595" cy="255" r="2"/>
		<circle class="st3" cx="595" cy="255" r="2"/>
		<circle class="st3" cx="595" cy="255" r="2"/>
		<circle class="st3" cx="595" cy="255" r="2"/>
		<circle class="st3" cx="595" cy="255" r="2"/>
		<circle class="st2" cx="595" cy="255" r="3.1" (click)="this.poweredStateTec = !this.poweredStateTec;"/>
	</g>
	<g id="sci" [ngClass]="{'animate': this.poweredStateSci}">
		<circle class="st3" cx="459" cy="197" r="2"/>
		<line class="st4" x1="505" y1="197" x2="459" y2="197"/>
		<circle class="st3" cx="509" cy="197" r="2"/>
		<circle class="st3" cx="509" cy="197" r="2"/>
		<circle class="st3" cx="509" cy="197" r="2"/>
		<circle class="st3" cx="509" cy="197" r="2"/>
		<circle class="st2" cx="509" cy="197" r="3.1" (click)="this.poweredStateSci = !this.poweredStateSci;"/>
	</g>
	<g id="med" [ngClass]="{'animate': this.poweredStateMed}">
		<circle class="st3" cx="338.1" cy="77.4" r="2"/>
		<line class="st4" x1="414.9" y1="77.4" x2="338.1" y2="77.3"/>
		<circle class="st3" cx="418.9" cy="77.4" r="2"/>
		<circle class="st2" cx="418.9" cy="77.3" r="3.1"/>
	</g>
	<g id="cic" [ngClass]="{'animate': this.poweredStateCic}">
		<circle class="st3" cx="357.5" cy="156.4" r="2"/>
		<line class="st4" x1="418.9" y1="124.1" x2="358.5" y2="124.1"/>
		<circle class="st3" cx="420" cy="156.4" r="2"/>
		<line class="st4" x1="357.5" y1="124.1" x2="357.4" y2="154.1"/>
		<line class="st4" x1="420" y1="124.1" x2="420" y2="152.5"/>
		<circle class="st3" cx="420" cy="156.4" r="2"/>
		<circle class="st3" cx="420" cy="156.4" r="2"/>
		<circle class="st3" cx="420" cy="156.4" r="2"/>
		<circle class="st3" cx="420" cy="156.4" r="2"/>
		<circle class="st3" cx="420" cy="156.4" r="2"/>
		<circle class="st2" cx="420" cy="156.4" r="3.1" (click)="this.poweredStateCic = !this.poweredStateCic;"/>
	</g>
	<g id="adm">
		<circle class="st3" cx="186.3" cy="198" r="2"/>
		<line class="st4" x1="287.2" y1="198" x2="186.3" y2="197.9"/>
		<circle class="st3" cx="291.4" cy="198" r="2"/>
		<circle class="st2" cx="291.4" cy="198" r="3.1"/>
	</g>
</g>
<g id="UG">
	<circle class="st5" cx="597.6" cy="370.2" r="2.2"/>
	<g id="Frame_00000115486158435622287280000013904902335641268907_">
		<line class="st1" x1="606.8" y1="345" x2="606.8" y2="479.5"/>
		<line class="st1" x1="606.7" y1="345" x2="48.2" y2="345"/>
		<line class="st0" x1="48.2" y1="345" x2="48.2" y2="398"/>
		<line class="st1" x1="73.2" y1="479.5" x2="87.2" y2="479.5"/>
		<line class="st1" x1="606.2" y1="479.5" x2="103.2" y2="479.5"/>
		<line class="st1" x1="371.2" y1="345" x2="371" y2="397.5"/>
		<line class="st1" x1="370.5" y1="425.5" x2="371.2" y2="479.5"/>
		<line class="st1" x1="105.2" y1="345" x2="105.2" y2="397"/>
		<line class="st1" x1="116.2" y1="397" x2="105.2" y2="397"/>
		<line class="st1" x1="126.2" y1="397" x2="138.2" y2="397"/>
		<line class="st1" x1="138.2" y1="345" x2="138.2" y2="397"/>
		<line class="st1" x1="105.2" y1="479.5" x2="105.2" y2="429"/>
		<line class="st1" x1="117.2" y1="429" x2="105.2" y2="429"/>
		<line class="st1" x1="126.2" y1="429" x2="138.2" y2="429"/>
		<line class="st1" x1="138.2" y1="479.5" x2="138.2" y2="429"/>
		<line class="st0" x1="19.2" y1="398" x2="48.2" y2="398"/>
		<line class="st1" x1="19.2" y1="429" x2="19.2" y2="398"/>
		<line class="st1" x1="19.2" y1="429" x2="73.2" y2="429"/>
		<line class="st1" x1="73.2" y1="429" x2="73.2" y2="479.5"/>
		<rect x="181.5" y="425.5" class="st1" width="4" height="4"/>
		<rect x="228.5" y="425.5" class="st1" width="4" height="4"/>
		<rect x="275.5" y="425.5" class="st1" width="4" height="4"/>
		<rect x="322.5" y="425.5" class="st1" width="4" height="4"/>
		<rect x="414.5" y="425.5" class="st1" width="4" height="4"/>
		<rect x="461.5" y="425.5" class="st1" width="4" height="4"/>
		<rect x="508.5" y="425.5" class="st1" width="4" height="4"/>
		<rect x="555.5" y="425.5" class="st1" width="4" height="4"/>
		<rect x="555.5" y="393.5" class="st1" width="4" height="4"/>
		<rect x="508.5" y="393.5" class="st1" width="4" height="4"/>
		<rect x="461.5" y="393.5" class="st1" width="4" height="4"/>
		<rect x="414.5" y="393.5" class="st1" width="4" height="4"/>
		<rect x="275.5" y="393.5" class="st1" width="4" height="4"/>
		<rect x="181.5" y="393.5" class="st1" width="4" height="4"/>
		<rect x="228.5" y="393.5" class="st1" width="4" height="4"/>
		<rect x="322.5" y="393.5" class="st1" width="4" height="4"/>
	</g>
	<g id="rwall">
		<circle class="st2" cx="90.8" cy="462" r="3.6"/>
		<circle class="st3" cx="90.8" cy="462" r="2.2"/>
		<line class="st4" x1="90.8" y1="457.8" x2="90.8" y2="372.5"/>
		<circle class="st3" cx="90.8" cy="370.2" r="2.2"/>
	</g>
	<g id="kitchen">
		<circle class="st2" cx="121.2" cy="370.2" r="2.6"/>
		<circle class="st3" cx="121.2" cy="370.2" r="1.6"/>
		<line class="st4" x1="124.4" y1="370.2" x2="157.8" y2="370.2"/>
		<circle class="st3" cx="160" cy="370.2" r="2.2"/>
	</g>
</g>
</svg>