:host {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// @keyframes move1 {
//     0% {
//         opacity: 1;
//         transform: translate3d(0, 0, 0);
//     }
//     50% {
//         opacity: 1;
//         transform: translate3d(-4.5%, 0, 0);
//     }
//     51% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 0;
//         transform: translate3d(0, 0, 0);

//     }
// }

// @keyframes move2 {
//     0% {
//         opacity: 0;
//     }
//     49% {
//         opacity: 0;
//     }
//     50% {
//         opacity: 1;
//         transform: translate3d(-0.08%, 0, 0);
//     }
//     100% {
//         transform: translate3d(-5%, 0, 0);
//     }
// }

// @keyframes move3 {
//     0% { 
//         transform: translate3d(0, 0, 0);
//     }
//     55% {
//         transform: translate3d(0, -27.5%, 0);
//     }
//     100% {
//         transform: translate3d(-13.4%, -27.5%, 0);
//     }
// }

// @keyframes moveUG {
//     0% { 
//         transform: translate3d(0, 0, 0);
//     }
//     100% {
//         transform: translate3d(71%, 0, 0);
//     }
// }

// #Ebene_5 {
//     animation: move1 2s  linear infinite;
// }

// #Ebene_4 {
//     animation: move2 2s  linear infinite;
//     opacity: 1;
// }

// #Ebene_7 {
//     animation: move1 2s  linear infinite;
// }

// #Ebene_6 {
//     animation: move2 2s  linear infinite;
//     opacity: 1;
// }

.st2 {
    cursor: pointer;
}

#cic {
    circle.st3:nth-child(1n + 6) {
        display: none;
    }
}

#cic.animate {
    @keyframes cic-move {
        0% {
            transform: translate3d(0, 0, 0);
        }
        25% {
            transform: translate3d(0, -6.4%, 0);
        }
        75% {
            transform: translate3d(-9.83%, -6.4%, 0);
        }
        100% {
            transform: translate3d(-9.83%, 0, 0);
        }
    }
    circle.st3:nth-child(1n + 6) {
        display: block;
    }
    circle:nth-child(6) {
        animation: cic-move 8s  linear infinite;
    }
    circle:nth-child(7) {
        animation: cic-move 8s  linear infinite;
        animation-delay: -1.6s;
    }
    circle:nth-child(8) {
        animation: cic-move 8s  linear infinite;
        animation-delay: -3.2s;
    }
    circle:nth-child(9) {
        animation: cic-move 8s  linear infinite;
        animation-delay: -4.8s;
    }
    circle:nth-child(10) {
        animation: cic-move 8s  linear infinite;
        animation-delay: -6.4s;
    }
}

#sci {
    circle.st3:nth-child(1n + 4) {
        display: none;
    }
}

#sci.animate {
    @keyframes sci-move {
        0% {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        100% {
            transform: translate3d(-7.9%, 0, 0);
        }
    }
    circle.st3:nth-child(1n + 4) {
        display: block;
    }

    circle:nth-child(4) {
        animation: sci-move 4s  linear infinite;
    }
    circle:nth-child(5) {
        animation: sci-move 4s  linear infinite;
        animation-delay: -1.33s;
    }
    circle:nth-child(6) {
        animation: sci-move 4s  linear infinite;
        animation-delay: -2.66s;
    }
}

#tec {
    circle.st3:nth-child(1n + 5) {
        display: none;
    }
}

#tec.animate {
    @keyframes tec-move {
        0% {
            transform: translate3d(0, 0, 0);
        }
        55% {
            transform: translate3d(0, -11.71%, 0);
        }
        100% {
            transform: translate3d(-7.55%, -11.71%, 0);
        }
    }
    circle.st3:nth-child(1n + 5) {
        display: block;
    }
    circle:nth-child(5) {
        animation: tec-move 8s  linear infinite;
    }
    circle:nth-child(6) {
        animation: tec-move 8s  linear infinite;
        animation-delay: -1.6s;
    }
    circle:nth-child(7) {
        animation: tec-move 8s  linear infinite;
        animation-delay: -3.2s;
    }
    circle:nth-child(8) {
        animation: tec-move 8s  linear infinite;
        animation-delay: -4.8s;
    }
    circle:nth-child(9) {
        animation: tec-move 8s  linear infinite;
        animation-delay: -6.4s;
    }
}



// #UG1_P2 {
//     circle {
//         animation: moveUG 14s  linear infinite;
//     }
//     circle:nth-child(2) {
//         animation-delay: -1.75s;
//     }
//     circle:nth-child(3) {
//         animation-delay: -3.5s;
//     }
//     circle:nth-child(4) {
//         animation-delay: -5.25s;
//     }
//     circle:nth-child(5) {
//         animation-delay: -7s;
//     }
//     circle:nth-child(6) {
//         animation-delay: -8.75s;
//     }
//     circle:nth-child(7) {
//         animation-delay: -10.5s;
//     }
//     circle:nth-child(8) {
//         animation-delay: -12.25s;
//     }
// }

// #UG1_P1 {
//     circle {
//         animation: moveUG 14s  linear infinite;
//     }
//     circle:nth-child(2) {
//         animation-delay: -1.75s;
//     }
//     circle:nth-child(3) {
//         animation-delay: -3.5s;
//     }
//     circle:nth-child(4) {
//         animation-delay: -5.25s;
//     }
//     circle:nth-child(5) {
//         animation-delay: -7s;
//     }
//     circle:nth-child(6) {
//         animation-delay: -8.75s;
//     }
//     circle:nth-child(7) {
//         animation-delay: -10.5s;
//     }
//     circle:nth-child(8) {
//         animation-delay: -12.25s;
//     }
// }

// .hidden {
//     display: none;
// }

// circle.btn {
//     cursor: pointer;
// }

