<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 636 568" style="enable-background:new 0 0 636 568;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#AFAFAF;stroke-width:0.75;stroke-miterlimit:10;}
	.st1{fill:none;stroke:#AFAFAF;stroke-width:0.75;stroke-linecap:square;stroke-miterlimit:10;}
	.st2{stroke:#42A1DA;stroke-linecap:square;stroke-miterlimit:10;}
	.st3{fill:#42A1DA;}
	.st4{fill:none;stroke:#42A1DA;stroke-width:2;stroke-linecap:square;stroke-miterlimit:10;}
	.st5{display:none;fill:#42A1DA;}
</style>
<g id="OG">
	<g id="Frame">
		<line class="st0" x1="145.8" y1="244.1" x2="319.2" y2="244.1"/>
		<line class="st1" x1="145.8" y1="244.1" x2="145.8" y2="378.1"/>
		<line class="st1" x1="145.8" y1="378.1" x2="606.2" y2="378.1"/>
		<line class="st1" x1="606.2" y1="378.1" x2="606.2" y2="244.1"/>
		<line class="st1" x1="341" y1="244.1" x2="606.2" y2="244.1"/>
		<line class="st1" x1="319.2" y1="244.1" x2="319.2" y2="198.5"/>
		<line class="st1" x1="320" y1="90.9" x2="370.3" y2="90.9"/>
		<line class="st1" x1="370.3" y1="118.8" x2="370.3" y2="90.9"/>
		<line class="st1" x1="385.6" y1="118.8" x2="370.3" y2="118.8"/>
		<line class="st1" x1="385.6" y1="99.8" x2="385.6" y2="117.8"/>
		<line class="st1" x1="435.3" y1="99.8" x2="385.6" y2="99.8"/>
		<line class="st1" x1="435.3" y1="244.1" x2="435.3" y2="99.8"/>
		<line class="st1" x1="582.8" y1="292.6" x2="582.8" y2="341.5"/>
		<line class="st1" x1="606.2" y1="337.7" x2="582.8" y2="337.7"/>
		<line class="st1" x1="582.8" y1="378.1" x2="582.8" y2="357.2"/>
		<line class="st1" x1="582.8" y1="244.1" x2="582.8" y2="277.5"/>
		<line class="st1" x1="595.1" y1="277.5" x2="582.8" y2="277.5"/>
		<line class="st1" x1="373.2" y1="199.8" x2="373.2" y2="244.1"/>
		<line class="st1" x1="340.5" y1="198.5" x2="340.5" y2="244.1"/>
		<line class="st1" x1="370.2" y1="179.3" x2="435.3" y2="179.3"/>
		<line class="st1" x1="319.2" y1="179.3" x2="319.2" y2="90.9"/>
		<line class="st1" x1="350.6" y1="179.3" x2="319.2" y2="179.3"/>
		<line class="st1" x1="169.6" y1="317.3" x2="169.6" y2="244.5"/>
		<line class="st1" x1="169.6" y1="277.7" x2="145.8" y2="277.7"/>
		<line class="st1" x1="169.6" y1="329.3" x2="145.8" y2="329.3"/>
		<rect x="184.1" y="286" class="st1" width="4.1" height="4.1"/>
		<rect x="268.4" y="286" class="st1" width="4.1" height="4.1"/>
		<rect x="226.2" y="329.2" class="st1" width="4.1" height="4.1"/>
		<rect x="310.5" y="329.2" class="st1" width="4.1" height="4.1"/>
		<rect x="353.1" y="286" class="st1" width="4.1" height="4.1"/>
		<rect x="437.2" y="286" class="st1" width="4.1" height="4.1"/>
		<rect x="395.2" y="329.2" class="st1" width="4.1" height="4.1"/>
		<rect x="480" y="329.2" class="st1" width="4.1" height="4.1"/>
		<rect x="522.3" y="286" class="st1" width="4.1" height="4.1"/>
		<rect x="564.2" y="329.2" class="st1" width="4.1" height="4.1"/>
		<rect x="184.1" y="329.2" class="st1" width="4.1" height="4.1"/>
		<rect x="226.2" y="286" class="st1" width="4.1" height="4.1"/>
		<rect x="268.4" y="329.2" class="st1" width="4.1" height="4.1"/>
		<rect x="310.5" y="286" class="st1" width="4.1" height="4.1"/>
		<rect x="353.1" y="329.2" class="st1" width="4.1" height="4.1"/>
		<rect x="395.2" y="286" class="st1" width="4.1" height="4.1"/>
		<rect x="437.2" y="329.2" class="st1" width="4.1" height="4.1"/>
		<rect x="480" y="286" class="st1" width="4.1" height="4.1"/>
		<rect x="522.3" y="329.2" class="st1" width="4.1" height="4.1"/>
		<rect x="564.2" y="286" class="st1" width="4.1" height="4.1"/>
		<line class="st1" x1="203.6" y1="134.3" x2="230.9" y2="134.3"/>
		<path class="st0" d="M203.6,156.5"/>
		<line class="st1" x1="203.6" y1="151.2" x2="203.6" y2="129.3"/>
		<line class="st1" x1="203.9" y1="151.2" x2="230.9" y2="151.2"/>
		<line class="st1" x1="230.9" y1="139.5" x2="230.9" y2="134.6"/>
		<line class="st1" x1="230.9" y1="151.2" x2="230.9" y2="146.1"/>
		<line class="st1" x1="272" y1="151.2" x2="244.7" y2="151.2"/>
		<path class="st0" d="M272,134.8"/>
		<line class="st1" x1="272" y1="134.3" x2="272" y2="151.2"/>
		<line class="st1" x1="271.7" y1="134.3" x2="244.7" y2="134.3"/>
		<line class="st1" x1="244.7" y1="146.1" x2="244.7" y2="151.2"/>
		<line class="st1" x1="244.7" y1="135" x2="244.7" y2="139.5"/>
		<line class="st1" x1="203.6" y1="133.6" x2="203.6" y2="24.1"/>
		<line class="st1" x1="272" y1="134.3" x2="272" y2="24.1"/>
		<line class="st1" x1="68.7" y1="154.6" x2="68.7" y2="10.1"/>
		<line class="st1" x1="157.7" y1="154.6" x2="157.7" y2="10.6"/>
		<line class="st1" x1="68.7" y1="10.1" x2="112.8" y2="10.1"/>
		<path class="st1" d="M68.7,154.6"/>
		<line class="st1" x1="203.6" y1="24.1" x2="272" y2="24.1"/>
		<line class="st1" x1="68.7" y1="154.6" x2="112.6" y2="154.6"/>
		<line class="st1" x1="126.4" y1="154.6" x2="157.7" y2="154.6"/>
		<line class="st1" x1="126.2" y1="10.1" x2="157.7" y2="10.1"/>
		<line class="st1" x1="69.1" y1="33.1" x2="107.4" y2="33.1"/>
		<line class="st1" x1="69.1" y1="62.8" x2="107.3" y2="62.8"/>
		<line class="st1" x1="69.1" y1="84.5" x2="107.3" y2="84.5"/>
		<line class="st1" x1="69.1" y1="109.5" x2="107.3" y2="109.5"/>
		<line class="st1" x1="124.6" y1="109.5" x2="157.1" y2="109.5"/>
		<line class="st1" x1="124.6" y1="109.5" x2="124.6" y2="93.5"/>
		<line class="st1" x1="107.3" y1="95.4" x2="107.3" y2="84.5"/>
		<line class="st1" x1="107.3" y1="108.8" x2="107.3" y2="102.3"/>
	</g>
	<g id="parcel_og" [class.animate]="powerLineStates.get(PowerLineId.LINE_OG_PARCELS) == PowerLineState.STATE_POWERED">
		<circle class="st2" cx="566.3" cy="355.7" r="3.1"/>
		<circle class="st3" cx="566.3" cy="355.7" r="1.9"/>
		<line class="st4" x1="562.5" y1="355.7" x2="186.2" y2="355.7"/>
		<circle class="st3" cx="186.2" cy="355.7" r="1.9"/>
        <circle class="st3" cx="566.3" cy="355.7" r="1.9"/>
        <circle class="st3" cx="566.3" cy="355.7" r="1.9"/>
        <circle class="st3" cx="566.3" cy="355.7" r="1.9"/>
        <circle class="st3" cx="566.3" cy="355.7" r="1.9"/>
        <circle class="st3" cx="566.3" cy="355.7" r="1.9"/>
        <circle class="st3" cx="566.3" cy="355.7" r="1.9"/>
        <circle class="st3" cx="566.3" cy="355.7" r="1.9"/>
        <circle class="st3" cx="566.3" cy="355.7" r="1.9"/>
        <circle class="st3" cx="566.3" cy="355.7" r="1.9"/>
        <circle class="st3" cx="566.3" cy="355.7" r="1.9"/>
        <circle class="st3" cx="566.3" cy="355.7" r="1.9"/>
        <circle class="st3" cx="566.3" cy="355.7" r="1.9"/>
        <circle class="st3" cx="566.3" cy="355.7" r="1.9"/>
        <circle class="st3" cx="566.3" cy="355.7" r="1.9"/>
	</g>
	<g id="tec" [class.animate]="powerLineStates.get(PowerLineId.LINE_OG_BASE_TEC) == PowerLineState.STATE_POWERED">
		<circle class="st2" cx="595" cy="321" r="3.1"/>
		<line class="st4" x1="595" y1="317" x2="595" y2="264"/>
		<circle class="st3" cx="595" cy="321" r="2"/>
		<circle class="st3" cx="547" cy="262" r="2"/>
		<line class="st4" x1="595" y1="262" x2="547" y2="262"/>
		<circle class="st3" cx="595" cy="321" r="2"/>
		<circle class="st3" cx="595" cy="321" r="2"/>
		<circle class="st3" cx="595" cy="321" r="2"/>
		<circle class="st3" cx="595" cy="321" r="2"/>
		<circle class="st3" cx="595" cy="321" r="2"/>
        <circle class="st3" cx="595" cy="321" r="2"/>
	</g>
	<g id="sci" [class.animate]="powerLineStates.get(PowerLineId.LINE_OG_BASE_SCI) == PowerLineState.STATE_POWERED">
		<ellipse transform="matrix(0.1602 -0.9871 0.9871 0.1602 167.818 723.3378)" class="st2" cx="509" cy="263" rx="3.1" ry="3.1"/>
		<circle class="st3" cx="459" cy="263" r="2"/>
		<line class="st4" x1="505" y1="263" x2="459" y2="263"/>
		<circle class="st3" cx="509" cy="263" r="2"/>
		<circle class="st3" cx="509" cy="263" r="2"/>
		<circle class="st3" cx="509" cy="263" r="2"/>
		<circle class="st3" cx="509" cy="263" r="2"/>
	</g>
	<g id="med" [class.animate]="powerLineStates.get(PowerLineId.LINE_OG_BASE_MED) == PowerLineState.STATE_POWERED">
		<circle class="st2" cx="418.9" cy="143.3" r="3.1"/>
		<circle class="st3" cx="338.1" cy="143.4" r="2"/>
		<line class="st4" x1="414.9" y1="143.4" x2="338.1" y2="143.3"/>
		<circle class="st3" cx="418.9" cy="143.4" r="2"/>
        <circle class="st3" cx="418.9" cy="143.4" r="2"/>
        <circle class="st3" cx="418.9" cy="143.4" r="2"/>
        <circle class="st3" cx="418.9" cy="143.4" r="2"/>
        <circle class="st3" cx="418.9" cy="143.4" r="2"/>
	</g>
	<g id="cic" [class.animate]="powerLineStates.get(PowerLineId.LINE_OG_BASE_CIC) == PowerLineState.STATE_POWERED">
		<circle class="st2" cx="420" cy="222.4" r="3.1"/>
		<circle class="st3" cx="357.5" cy="222.4" r="2"/>
		<line class="st4" x1="418.9" y1="190.1" x2="358.5" y2="190.1"/>
		<circle class="st3" cx="420" cy="222.4" r="2"/>
		<line class="st4" x1="357.5" y1="190.1" x2="357.4" y2="220.1"/>
		<line class="st4" x1="420" y1="190.1" x2="420" y2="218.5"/>
		<circle class="st3" cx="420" cy="222.4" r="2"/>
		<circle class="st3" cx="420" cy="222.4" r="2"/>
		<circle class="st3" cx="420" cy="222.4" r="2"/>
		<circle class="st3" cx="420" cy="222.4" r="2"/>
		<circle class="st3" cx="420" cy="222.4" r="2"/>
        <circle class="st3" cx="420" cy="222.4" r="2"/>
	</g>
	<g id="fc" [class.animate]="powerLineStates.get(PowerLineId.LINE_OG_BASE_HC) == PowerLineState.STATE_POWERED">
		<circle class="st2" cx="291.4" cy="264" r="3.1"/>
		<circle class="st3" cx="159.7" cy="264" r="2"/>
		<line class="st4" x1="287.2" y1="264" x2="159.7" y2="263.9"/>
		<circle class="st3" cx="291.4" cy="264" r="2"/>
        <circle class="st3" cx="291.4" cy="264" r="2"/>
        <circle class="st3" cx="291.4" cy="264" r="2"/>
        <circle class="st3" cx="291.4" cy="264" r="2"/>
        <circle class="st3" cx="291.4" cy="264" r="2"/>
        <circle class="st3" cx="291.4" cy="264" r="2"/>
        <circle class="st3" cx="291.4" cy="264" r="2"/>
	</g>
	<g id="adm" [class.animate]="powerLineStates.get(PowerLineId.LINE_OG_BASE_ADM) == PowerLineState.STATE_POWERED">
		<circle class="st2" cx="208.1" cy="308" r="3.1"/>
		<circle class="st3" cx="159.8" cy="308" r="2"/>
		<line class="st4" x1="203.9" y1="308" x2="159.8" y2="307.9"/>
		<circle class="st3" cx="208.1" cy="308" r="2"/>
        <circle class="st3" cx="208.1" cy="308" r="2"/>
        <circle class="st3" cx="208.1" cy="308" r="2"/>
        <circle class="st3" cx="208.1" cy="308" r="2"/>
	</g>
	<g id="gate" [class.animate]="powerLineStates.get(PowerLineId.LINE_OG_GATE) == PowerLineState.STATE_POWERED">
		<circle class="st2" cx="116.2" cy="18.3" r="3.6"/>
		<circle class="st3" cx="116.2" cy="18.3" r="2.2"/>
		<line class="st4" x1="116.2" y1="22.5" x2="116.2" y2="132.8"/>
		<circle class="st3" cx="116.2" cy="132.8" r="2.2"/>
        <circle class="st3" cx="116.2" cy="18.3" r="2.2"/>
        <circle class="st3" cx="116.2" cy="18.3" r="2.2"/>
        <circle class="st3" cx="116.2" cy="18.3" r="2.2"/>
        <circle class="st3" cx="116.2" cy="18.3" r="2.2"/>
        <circle class="st3" cx="116.2" cy="18.3" r="2.2"/>
	</g>
	<g id="messhall" [class.animate]="powerLineStates.get(PowerLineId.LINE_OG_MESSHALL) == PowerLineState.STATE_POWERED">
		<circle class="st2" cx="237.8" cy="34" r="3.6"/>
		<circle class="st3" cx="237.8" cy="34" r="2.2"/>
		<line class="st4" x1="237.8" y1="38.2" x2="237.8" y2="123.5"/>
		<circle class="st3" cx="237.8" cy="125.8" r="2.2"/>
        <circle class="st3" cx="237.8" cy="34" r="2.2"/>
        <circle class="st3" cx="237.8" cy="34" r="2.2"/>
        <circle class="st3" cx="237.8" cy="34" r="2.2"/>
        <circle class="st3" cx="237.8" cy="34" r="2.2"/>
        <circle class="st3" cx="237.8" cy="34" r="2.2"/>
	</g>
	<g id="log" [class.animate]="powerLineStates.get(PowerLineId.LINE_OG_LOG) == PowerLineState.STATE_POWERED">
		<circle class="st2" cx="168" cy="182.9" r="3.6"/>
		<circle class="st3" cx="168" cy="182.9" r="2.2"/>
		<line class="st4" x1="168" y1="187.1" x2="168" y2="205.1"/>
		<circle class="st3" cx="168" cy="206.3" r="2.2"/>
        <circle class="st3" cx="168" cy="182.9" r="2.2"/>
	</g>
    <g id="courtyard" id="messhall" [class.animate]="powerLineStates.get(PowerLineId.LINE_OG_COURTYARD) == PowerLineState.STATE_POWERED">
		<circle class="st2" cx="168" cy="182.9" r="3.6"/>
		<circle class="st3" cx="168" cy="182.9" r="2.2"/>
		<line class="st4" x1="168" y1="187.1" x2="168" y2="205.1"/>
		<circle class="st3" cx="168" cy="206.3" r="2.2"/>
	</g>
</g>
<g id="UG">
	<circle class="st5" cx="597.6" cy="436.2" r="2.2"/>
	<g id="Frame_00000115486158435622287280000013904902335641268907_">
		<line class="st1" x1="606.8" y1="411" x2="606.8" y2="545.5"/>
		<line class="st1" x1="606.7" y1="411" x2="48.2" y2="411"/>
		<line class="st0" x1="48.2" y1="411" x2="48.2" y2="464"/>
		<line class="st1" x1="73.2" y1="545.5" x2="87.2" y2="545.5"/>
		<line class="st1" x1="606.2" y1="545.5" x2="103.2" y2="545.5"/>
		<line class="st1" x1="371.2" y1="411" x2="371" y2="463.5"/>
		<line class="st1" x1="370.5" y1="491.5" x2="371.2" y2="545.5"/>
		<line class="st1" x1="105.2" y1="411" x2="105.2" y2="463"/>
		<line class="st1" x1="116.2" y1="463" x2="105.2" y2="463"/>
		<line class="st1" x1="126.2" y1="463" x2="138.2" y2="463"/>
		<line class="st1" x1="138.2" y1="411" x2="138.2" y2="463"/>
		<line class="st1" x1="105.2" y1="545.5" x2="105.2" y2="495"/>
		<line class="st1" x1="117.2" y1="495" x2="105.2" y2="495"/>
		<line class="st1" x1="126.2" y1="495" x2="138.2" y2="495"/>
		<line class="st1" x1="138.2" y1="545.5" x2="138.2" y2="495"/>
		<line class="st0" x1="19.2" y1="464" x2="48.2" y2="464"/>
		<line class="st1" x1="19.2" y1="495" x2="19.2" y2="464"/>
		<line class="st1" x1="19.2" y1="495" x2="73.2" y2="495"/>
		<line class="st1" x1="73.2" y1="495" x2="73.2" y2="545.5"/>
		<rect x="181.5" y="491.5" class="st1" width="4" height="4"/>
		<rect x="228.5" y="491.5" class="st1" width="4" height="4"/>
		<rect x="275.5" y="491.5" class="st1" width="4" height="4"/>
		<rect x="322.5" y="491.5" class="st1" width="4" height="4"/>
		<rect x="414.5" y="491.5" class="st1" width="4" height="4"/>
		<rect x="461.5" y="491.5" class="st1" width="4" height="4"/>
		<rect x="508.5" y="491.5" class="st1" width="4" height="4"/>
		<rect x="555.5" y="491.5" class="st1" width="4" height="4"/>
		<rect x="555.5" y="459.5" class="st1" width="4" height="4"/>
		<rect x="508.5" y="459.5" class="st1" width="4" height="4"/>
		<rect x="461.5" y="459.5" class="st1" width="4" height="4"/>
		<rect x="414.5" y="459.5" class="st1" width="4" height="4"/>
		<rect x="275.5" y="459.5" class="st1" width="4" height="4"/>
		<rect x="181.5" y="459.5" class="st1" width="4" height="4"/>
		<rect x="228.5" y="459.5" class="st1" width="4" height="4"/>
		<rect x="322.5" y="459.5" class="st1" width="4" height="4"/>
	</g>
	<g id="rwall">
		<circle class="st2" cx="90.8" cy="528" r="3.6"/>
		<circle class="st3" cx="90.8" cy="528" r="2.2"/>
		<line class="st4" x1="90.8" y1="523.8" x2="90.8" y2="438.5"/>
		<circle class="st3" cx="90.8" cy="436.2" r="2.2"/>
	</g>
	<g id="kitchen">
		<circle class="st2" cx="121.2" cy="436.2" r="2.6"/>
		<circle class="st3" cx="121.2" cy="436.2" r="1.6"/>
		<line class="st4" x1="124.4" y1="436.2" x2="157.8" y2="436.2"/>
		<circle class="st3" cx="160" cy="436.2" r="2.2"/>
	</g>
</g>
<line class="st1" x1="179" y1="198.4" x2="179" y2="210.4"/>
<path class="st0" d="M151.7,183.1"/>
<line class="st1" x1="157" y1="176.4" x2="179" y2="176.4"/>
<line class="st1" x1="157" y1="198.4" x2="157" y2="209.8"/>
<line class="st1" x1="173.7" y1="210.4" x2="178.6" y2="210.4"/>
<line class="st1" x1="157" y1="210.4" x2="162.1" y2="210.4"/>
<line class="st1" x1="179" y1="177.1" x2="179" y2="189.1"/>
<line class="st1" x1="157" y1="176.9" x2="157" y2="188.9"/>
<line class="st1" x1="107.3" y1="70.5" x2="107.3" y2="62.8"/>
<line class="st1" x1="107.3" y1="84" x2="107.3" y2="77.5"/>
</svg>
