<ph-form>
    <ph-group [label]="light.label" *ngFor="let light of this.service.lights">
        <ph-button-select [label]="'State'" [(value)]="light.switchState" (valueChange)="onLightSwitchStateChange(light.id, $event)">
            <ph-button [value]="lightSwitchState.SWITCH_STATE_OFF">OFF</ph-button>
            <ph-button [value]="lightSwitchState.SWITCH_STATE_ON">ON</ph-button>
        </ph-button-select>
        <ph-button-select [label]="'Lock'" [(value)]="light.lockState" (valueChange)="onLightLockStateChange(light.id, $event)">
            <ph-button [value]="lightLockState.LOCK_STATE_UNLOCKED">UNLOCKED</ph-button>
            <ph-button [value]="lightLockState.LOCK_STATE_LOCKED">LOCKED</ph-button>
        </ph-button-select>
    </ph-group>
</ph-form>