<ph-form>
    <ph-group [label]="'Section Tec'">
        <ph-button-select [label]="'State'" [(value)]="testState">
            <ph-button [value]="'off'">OFF</ph-button>
            <ph-button [value]="'on'">ON</ph-button>
        </ph-button-select>
        <ph-button-select [label]="'Lock'" [(value)]="testState">
            <ph-button [value]="'unlocked'">UNLOCKED</ph-button>
            <ph-button [value]="'locked'">LOCKED</ph-button>
        </ph-button-select>
    </ph-group>
    <ph-group [label]="'Section Ird'">
        <ph-button-select [label]="'State'" [(value)]="testState">
            <ph-button [value]="'off'">OFF</ph-button>
            <ph-button [value]="'on'">ON</ph-button>
        </ph-button-select>
        <ph-button-select [label]="'Lock'" [(value)]="testState">
            <ph-button [value]="'unlocked'">UNLOCKED</ph-button>
            <ph-button [value]="'locked'">LOCKED</ph-button>
        </ph-button-select>
    </ph-group>
    <!-- <ph-button-select [label]="'State'" [(value)]="lockdownState" (valueChange)="updateServerBaseState()">
        <ph-button [value]="'lockdown'">LOCKDOWN</ph-button>
        <ph-button [value]="'normal'">NORMAL</ph-button>
    </ph-button-select>
    <ph-button-select [label]="'Automatic lockdown'" [(value)]="autoLockdown" (valueChange)="updateAutoLockdown()">
        <ph-button [value]="'off'">OFF</ph-button>
        <ph-button [value]="'on'">ON</ph-button>
    </ph-button-select>
    <ph-button-select [label]="'Play announcements'" [(value)]="lockdownAnnouncements" (valueChange)="updateLockdownAnnouncements()">
        <ph-button [value]="'off'">OFF</ph-button>
        <ph-button [value]="'on'">ON</ph-button>
    </ph-button-select> -->
</ph-form>